//
// このファイルは自動生成です。
// 変更したい場合は ruby_scripts/domain/dairy_converter.rb を更新してください。
//
import React from 'react';
import { Link } from 'react-router-dom';
import 'components/tag.scss';
import tagIcon from 'config/tag_icon.json';

const Tag<%= value[:id] %>: React.FC = () => {
  return (
    <div className='tag'>
      <div className='tag__header'>
        <img src={`/static/tag/${tagIcon[<%= value[:id] %>]}`} alt="" />
        <h1>「<%= value[:name] %>」がついている日記一覧</h1>
      </div>
      <ul>
      <%- value[:diary_dates].reverse.each do |date| -%>
        <li className='tag__article'>
          <Link to='/diary/<%= date %>'>
            <span className='tag__article--date'><%= date %></span>
            <span className='tag__article--title'><%= value[:titles][date].gsub(/[<>]/, { '<' => '&lt;', '>' => '&gt;' }) %></span>
          </Link>
        </li>
      <%- end -%>
      </ul>
      <br /><br />
      <div>
        <Link className='tag__back' to='/'>戻る</Link>
      </div>
    </div>
  )
}

export default Tag<%= value[:id] %>
